
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <header>
        <h1>Fast Food Elections 2109</h1>
    </header>
    <main>
        <form class="opinion_form"  method="POST" action="/contact">
            <div class="prompt">
                <span>Submit your opinion about the 2109 elections!</span>
                Hi voter, we're collecting data on what the general public thinks of the two major parties. drop us your two cents!
            </div>
            name 
            </br>
            <input class="name" type="text" name="name" placeholder="your name"></input>
            </br>
            </br>
            email 
            </br>
            <input class="email" type="text" name="email" placeholder="your email"></input>
            </br>
            </br>
            opinion
            <textarea class="opinion" type="text" name="opinion" placeholder="your opinion"></textarea>
            <button class="submit" type="submit">submit your opinion</button>
        </form>
    </main>
    <footer>
        <p class="copyright">thanks for your opinion | &copy 2109 the immortal ones</p>
    </footer>
</body>
<html>

