<h1>hello there, sign up for a class here</h1>

<form action="/student/created" method="POST">
    <input type="text" name="name" placeholder="your name">
    <input type="text" name="email" placeholder="your email">
    <input type="text" name="course" placeholder="the course">

    <button type="submit" style="padding:10px; margin-left:20px; border-radius: 5px; color: #fff; background: red;">submit</button>
</form>